@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
<head>
    <link rel="icon" type="image/png" href="favicon.png" />
</head>
<div>
    <NavMenu />
    
    <main class="container mt-4">
        @Body
    </main>
</div>