<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-purple">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">DotPic</a>
        <p class="navbar-brand-version" style="margin-bottom:0;font:0.9rem;opacity:0.7;">v1</p>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/upload">
                        Upload
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/gallery">
                        Gallery
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "navbar-collapse collapse" : "navbar-collapse";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}