apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yml
    kompose.version: 1.38.0 (a8f5d1cbd)
  labels:
    io.kompose.service: nginx
  name: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: nginx
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f docker-compose.yml
        kompose.version: 1.38.0 (a8f5d1cbd)
      labels:
        io.kompose.service: nginx
    spec:
      containers:
        - args:
            - /bin/sh
            - -c
            - cat /etc/nginx/templates/app.conf.template | sed "s/__APP_DOMAIN__/${DOMAIN}/g" > /etc/nginx/conf.d/app.conf && cat /etc/nginx/conf.d/app.conf && nginx -t
          image: nginx:1.25-alpine
          name: nginx
          ports:
            - containerPort: 80
              protocol: TCP
            - containerPort: 443
              protocol: TCP
          volumeMounts:
            - mountPath: /etc/nginx/templates/app.conf.template
              name: nginx-cm0
              readOnly: true
              subPath: app.conf.template
            - mountPath: /etc/letsencrypt
              name: letsencrypt-data
              readOnly: true
            - mountPath: /var/www/certbot
              name: certbot-data
              readOnly: true
      restartPolicy: Always
      volumes:
        - configMap:
            items:
              - key: app.conf.template
                path: app.conf.template
            name: nginx-cm0
          name: nginx-cm0
        - configMap:
            name: nginx-cm1
          name: nginx-cm1
        - name: letsencrypt-data
          persistentVolumeClaim:
            claimName: letsencrypt-data
            readOnly: true
        - name: certbot-data
          persistentVolumeClaim:
            claimName: certbot-data
            readOnly: true
