apiVersion: v1
data:
  app.conf.template: "upstream dotnet_app {\n    server app:8080;\n}\n\nserver {\n    listen 80;\n    server_name __APP_DOMAIN__; \n\n    location /.well-known/acme-challenge/ {\n        root /var/www/certbot;\n    }\n\n    location / {\n        return 301 https://$server_name$request_uri;\n    }\n}\n\nserver {\n    listen 443 ssl;\n    server_name __APP_DOMAIN__; \n\n    ssl_certificate /etc/letsencrypt/live/__APP_DOMAIN__/fullchain.pem;\n    ssl_certificate_key /etc/letsencrypt/live/__APP_DOMAIN__/privkey.pem;\n    \n    location / {\n        proxy_pass http://dotnet_app;\n        proxy_set_header Host $host;\n        proxy_set_header X-Real-IP $remote_addr;\n        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;\n        proxy_set_header X-Forwarded-Proto $scheme;\n    }\n}\n"
kind: ConfigMap
metadata:
  annotations:
    use-subpath: "true"
  labels:
    io.kompose.service: nginx
  name: nginx-cm0
